<div class="about_me">
<h2>About me</h2>

<p>Lu Xiao, 5th year, Réseaux Informatique et Communication Multimédia, Polytech'Grenoble</p>
<p>Web Programmer in Ruby,Java</p>

<h3>Link</h3>

<ul>
	<li>
		<a href="https://github.com/lxxdn">Github</a>
	</li>
	<li>
		<a href="https://twitter.com/julien_luxiao">Twitter</a>
	</li>
	<li>
		<a href="http://www.weibo.com/woailuanjie/profile?rightmod=1&wvr=5&mod=personinfo">Sina weibo</a>
	</li>

</ul>
</div>
