
<div class="post_header">
<% if signed_in? && current_user.admin %>
	<a href="<%= post_path(@post) %>" data-method="delete"> <%= image_tag('delete.png', size: '16x10') %></a>
	<a href="<%= edit_post_path(@post) %>"> <%= image_tag('edit.png', size: '16x10') %></a>

<% end %>
</div>