<div class="row-fluid">
  <div class="span7 offset1">
  	<div class='posts'>
  	<ul>
  		<%= render @posts %>
  	</ul>
  	</div>
  </div>

  <div class="span2">
  	<div class="sidebar">
  		<h2>Categories</h2>
  	</div>
  </div>
</div>