@import "bootstrap";

body{
	background-color: #f5f5f5;
}

#header{
	 background-image: url("blog_header_pic.jpg");
	 padding-top: 20px;
	 padding-left: 150px;
	 height: 40px;
	 margin-bottom: 0px;

	 h1{
	 	margin-bottom: 5px;
	 	font-size: 30pt;
	 }
	 p{
	 	font-size: 120%;
	 }
}


.footer{
	background-color: #CCCCCC;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	.sign_in_out{
		a{
			margin-top: 0px;
			font-size: 12pt;
			float: right;
			margin-left: 10px;
			margin-right: 30px;

		}
	
	}

	.declaration {
		margin-top: 0px;
		color: white;
		font-size: 12pt;
		float: right;
		margin-right: 30px;
	}

}

 .navbar{
 	background-color: #C8BEAE;
 	.container{
 		margin-left: 130px;
 	}
 	li{
 		font-size: 18px;
 	}
 }

 .form_sign{
 	max-width: 300px;	
 }

 .form-sign {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    
    @include border-radius (10px); 
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

//for displaying all posts
.posts{
	li{
    padding: 0px 40px 29px;
    margin-left: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5; 
    max-height: 150px;
    height: 150px;
    @include border-radius (10px); 
    list-style: none;
    font-size: 12pt;
	}
	h2{
		
		border-bottom: 1px dashed #CCCCCC;
	}
}

//reminder of signing up
.reminder{
	font-size: 10pt;
	color: gray;
	display: block;
	float: right;
	margin-top: 0px;
}
 .alert{
 	display: block;
 }
 // flash
 .alert-success{
 	margin-left: 46px;
	padding-left: 45px;
}

//new post button
.new_post{
	a{
		margin-top: 0px;
		font-size: 18px;
		float: left;
		margin-left: 150px;
		margin-right: 30px;
	}
}

.new_post_form{
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;

    @include border-radius (10px); 
}

.new_post_title #post_title{
	margin-left: 200px;
	width: 450px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.new_post_content #post_content{
	margin-left: 200px;
	width: 450px;
	height: 450px;
}
.new_post_form h3{
	border-bottom: 1px solid #CCCCCC;
}

.new_post_publish_button{
	float: left;
	margin-left: 200px;
	margin-right: 10px;
}
.new_post_cancel_button{
	a{
		float: left;
		margin: 0px;
		font-size: 15px;
	}
}

.single_post{
	padding: 19px 29px 29px;
    margin-left: 40px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    font-size: 14pt;
    @include border-radius (10px); 
    h1{
    	border-bottom: 1px dashed #CCCCCC;
    	padding-bottom: 10px;
    }
}
.single_post h2{
	color: #1771C7;
	border-bottom: 1px dashed #CCCCCC;
}

.post_header{
	margin-right: 30px;
	a{
		margin-top: 18px;
		color: red;
		font-size: 12pt;
		float: right;
	}
}
