
<div class="hero-unit" id="footer">
	<div class="sign_in_up">
	<%= link_to "sign up", '#' %> <%= link_to "sign in", '#' %>
	</div>
	<div class="declaration">
	Powered by <a href="https://github.com/lxxdn">lxxdn</a> 2013 
	</div>

</div>