<div class="hero-unit" id="header">
	<h1>Lxxdn's blog</h1>
	<p>Je suis gai, tout me plait</p>
</div>

<div class="navbar">
  <div class="navbar-inner">
  	<div class="container">
      <ul class="nav">
        <li class="onglet" ><a href="<%= root_path %>">Blog</a></li>
        <li class="onglet"><a href="<%= archives_path %>">Archives</a></li>
        <li class="onglet"><a href="<%= about_me_path %>">About</a></li>
      </ul>
	</div> <!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->

